<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
    <!-- vuefire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script>
        const config = {
            apiKey: "AIzaSyATGQm66BIIsxrSsKhjkv9D9uCfXp2pVSo",
            projectId: "todo-list-eeda3",
            databaseURL: "https://todo-list-eeda3.firebaseio.com/",
        }
        firebase.initializeApp(config)
    </script>

    <style>
        .completed {
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
</head>
<body>
    <div id="app">
        <select v-model="status">
            <option value="all" selected>All</option>
            <option value="active">Active</option>
            <option value="completed">Completed</option>
        </select>
        <!-- <li v-for="todo in todos" v-if="!todo.completed" v-on:click="todo.completed = true"> -->
        <!-- <li v-for="todo in todos" v-if="!todo.completed" v-on:click="check(todo)"> -->
        <li v-for="todo in todosByStatus" v-bind:class="{completed: todo.completed}" v-bind:key="todo.id">
            <input type="checkbox" v-model="todo.completed" @change="updateTodo(todo)">
            <span>{{ todo.content }}</span>
            <!-- <span>{{ reversedNewTodo }}</span> -->
        </li>
        <!-- <li v-else v-on:click="check(todo)">
            <input type="checkbox" v-model="todo.completed">
            <strike>{{ todo.content }}</strike>
        </li> -->
        <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
        <button @click="addTodo">+</button>
        <footer>
            <button @click="clearComplete">Clear</button>
        </footer>
    </div>
    <script>
        const database = firebase.database()
        const app = new Vue({
            el:'#app',
            data: {
                newTodo : '',
                status: 'all',
            },
            firebase:{
                todos: database.ref('todos'),
            },
            methods: {
                check: function (todo) {
                    todo.completed = !todo.completed
                },
                addTodo: function () {
                    if (this.newTodo) {
                        this.$firebaseRefs.todos.push({
                            id:Date.now(),
                            content: this.newTodo,
                            completed: false,
                        })
                    }
                    this.newTodo = ''
                },
                clearComplete: function () {
                    let len= this.todos.length;
                    for (let i  = len-1; i >= 0; i--) {
                        let todo = this.todos[i];
                        if (todo.completed) {
                            this.$firebaseRefs.todos.child(todo['.key']).remove()
                        }
                    }
                },
                updateTodo: function (todo) {
                    const newTodo = { ...todo }
                    delete newTodo['.key']
                    this.$firebaseRefs.todos.child(todo['.key']).set(newTodo)
                }
            },
            computed: {
                todosByStatus: function () {
                    if (this.status === 'active') {
                        return this.todos.filter(todo => !todo.completed)
                    }  if (this.status === 'completed') {
                        return this.todos.filter(todo => todo.completed)
                    }
                    return this.todos
                },
                reversedNewTodo: function () {
                    return this.newTodo.split('').reverse().join('')
                },
            },
            watch: {
                todos: {
                    handler: function (todos) {
                        todoStorage.save(todos)
                    },
                    deep:true,
                }
            }
        })
        // 디렉티브
        // vue에서 제공하는 특수 속성임을 나타내는 -v 접두어가 붙어있으며,
        // 렌더링된 DOM에 특수한 반응형 동작을 한다.
        // v-for, v-if, v-html, v-once 등이 있다.
        
        // v-on:click
        // 디렉티브 바로 뒤에 붙는 친구들을 전달인자라고 한다.
        // addEventListener 뒤에 붙었던 click처럼 뒤에 붙는다.
    </script>
</body>
</html>